<!-- display pirate -->
<h1>Pirates</h1>

<div class="pirate">
  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>
</div>
<br>

<!-- display ships -->
<h1>Ships</h1>

<% @ships.each do |ship| %>
    <div class="ship">
      <p>Ship Name: <%= ship.name %></p>
      <p>Ship Type: <%= ship.type %></p>
      <p>Ship Booty: <%= ship.booty %></p>
    </div>
<% end %>
